.recipe-list {
    width: 100%;

    table {
        width: 100%;

        tr:nth-of-type(2n) {
            background: #f9f9f9;
        }

    }

    .recipe-title {
        background-color: dodgerblue;
        color: white;
        height: auto;
        padding: 5px 10px;
    }
}

