@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1070px; }

#root {
  height: 100%; }

.full-width {
  width: 100%; }
